*{
    margin: 0;
}
.bg{
    width: 100%;
    height: 100vh;
}
.navBar{
    width: 100%;
    height: 90px;
    background-color: #E1AD01;
    display:flex;
    align-items: center;
    position:fixed;
    z-index: 2;
}
.navHolder{
    display: flex;
    align-items:center;
    margin: 40px;
}
.navHolder img,button{
    margin: 10px;
}
.navHolder .btn1,.btn2,.btn3,.btn4,.btn5,.btn6{
    border: none;
    background-color: transparent;
    font-size:15px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
button{
    cursor: pointer;
    letter-spacing: 1px;
}
.navHolder a{
    text-decoration: none;
    color: black;
}
.navBar img{
    width: 30px;
    margin-right: 30px;
}
.m-container{
    width: 100%;
    height: 500vh;
}
.bgVid{
    z-index: -1;
    width: 100%;
    margin-top: 90px;
    height: 100%;
    
}
.g-content{
    width: 100%;
    height: 620vh;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: -10px;
}
.category{
    margin-top: 50px;
    width: 80%;
}
.tab{
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    transition: 0.5s;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    color: white;
}
.tab h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.tab a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab a:hover{
    color: rgb(49, 49, 49);
    text-decoration: underline 1px;
}
.a1{
    margin-left: 50%;
}
.arts{
    width: 100%;
    display: flex;
    height: 490px;
    overflow: hidden;
    transition: 0.5s;
}
.arts div{
    margin-right: 5px;
}
.shadow h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    position: relative;
    z-index: 1;
    color: white;
    top: 40px;
    margin-left: 15px;
    filter: opacity(0%);
    transition: 0.5s;
    font-weight: bolder;
}
.shadow:hover h1{
    filter: opacity(100%);
    top: 15px;
}
.shadow{
    width: 44%;
    height: 100%;
}
.shadow a{
    text-decoration: none;
}
.shadow img{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 35px;
    transition: 0.5s;
}
.shadow:hover img{
    filter: brightness(0.3);
}
#photo, #graphic, #video{
    margin-top: 30px;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s;
}
.v-container{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
.vids{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid-holder{
    margin-top: 200px;
    width: 100%;
    height: 90vh;
    background-color: antiquewhite;
    display: flex;
    overflow: hidden;
}
.vid-holder a{
    text-decoration: none;
    color: white;
}
.links{
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.5s;
}
.links h1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: 0.5s;
    font-size: 50px;
}
.links h1:hover{
    color: red;
}
.vid-holder div:hover .links{
    display: block;
    background-color: #181818a8;
    color: white;
}
.vid-holder div:hover .links h1{
    color: white;
}
.button-dot{
    margin-top: 230px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.button-dot input{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-style: none;
    background-color: #747474;
    transition: 0.3s;
}
#bt1{
    background-color: #b4b4b4;
}
.button-dot input:hover{
    background-color: #b4b4b4;
}
.box1{
    background-image: url(img19.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box2{
    background-image: url(img20.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box3{
    background-image: url(img21.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box4{
    background-image: url(img22.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.vid-holder div{
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    transition: 0.5s;
}
#pht-1{
    transform: translateX(0);
}
.ref{
    margin-top: 645vh;
    width: 100%;
    height: 50vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.r-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.c-logo{
    margin-top: 5%;
    width: 40%;
    height: 60%;
    margin-left: 5%;
}
.c1{
    display: flex;
    width: 100%;
}
.c2{
    width: 150px;
    margin-right: 50px;
}
.c2 p{
    margin-top: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.c3{
    width: 150px;
}
.crt{
    margin-left: 5%;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    position: relative;
    bottom: 30px;
}
.c3 p{
    margin-top: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.c-logo img{
    filter: brightness(0);
    width: 150px;
    height: 75px;
}
.c-icons{
    width: 40%;
    height: 60%;
    margin-top: 5%;
}
.socmed h1{
    color: black;
    margin: 4% 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 10%;
}
.socapp ul{
    display: flex;
}
.socapp ul li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.socapp ul li:hover a{
    color: white;
}
.socapp ul a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0 10px;
    font-size: 100%;
    padding: 3%;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    transition: 0.3s;
}
.socapp ul a:hover{
    background-color: black;
    color: white;
}
